<% include ./partials/header %>

<h1><%= title %></h1>

<div id="plugin-list">
  <%
    var modules = plugin.modules;
    // Sort modules
    for(item in modules) { 
      var enable = ( modules[item]['enabled'] ) ? "btn-primary btn-active" : "";
      var disable = ( !modules[item]['enabled'] ) ? "btn-primary btn-active" : "";
  %>
  <div class="well">
    <div class="row-fluid module-information">

      <div class="span8">
        <h2><%= modules[item]['meta']['title'] %></h2> 
        <h4><%= modules[item]['meta']['description'] %></h4> 
      </div>
      <div class="span2">
        <%
          // Assume we hide the configure button until proven otherwise
          var style = 'style="display:none;"';
          var module = modules[item];
          var ripple = module.meta.ripple;

          if (module.enabled && ripple && ripple.hasConfig) {
            style = "";
          }

          // Only put button on page if in package.json
          if (ripple && ripple.hasConfig){
        %>
        <a href="/admin/plugin/<%= item %>" <%- style %> class="btn configure"><i class="icon icon-wrench"></i> Configure</a>
        <% } %>
      </div>
      <div class="span2">
        <div class="btn-group" data-toggle="buttons-radio" data-ref="<%= item %>">
            <button class="btn toggle-control <%= enable %>" data-state="1">On</button>
            <button class="btn toggle-control <%= disable %>" data-state="0">Off</button>
        </div>      
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        Author: <%= modules[item]['meta']['author'] %> <span class="pipe">|</span> v<%= modules[item]['meta']['version'] %>
      </div>
    </div>
    <div class="row-fluid">

    </div>
  </div>
  <% } %>
</div>

<% include ./partials/footer %>

<!-- Consolidate all the internal js files -->
<%
var jsScripts = [
    'controllers/notify.js'
    , 'views/admin-pluginList.js'
    , 'jquery.jgrowl.min.js'
]
var jsSrc = locals.concatFiles(jsScripts);
%>
<script src="/static/js?<%= jsSrc %>" /></script>

<% include ../partials/nowjs-init %>
